.central a {
    display: block;
    margin-bottom: 10px;
    color: #032c6a;
    text-decoration: none;
}

.central a:hover {
    text-decoration: underline;
}

.central li {
    list-style-type: disclosure-closed;
    margin-bottom: 15px;
}
